language: php
php:
  - 5.5
script: phpunit tests/

services:
    - redis-server
    - memcached

#bundle installを毎回走らせないようにキャッシュする
#bundler_args: --deployment
#cache: bundler

sudo: false
#install:

before_script:
  - composer require ukko/phpredis-phpdoc:dev
  - pip install --user redis

#script:

