language: php
php:
  - 5.5
script: phpunit tests/

#bundle installを毎回走らせないようにキャッシュする
#bundler_args: --deployment
#cache: bundler

sudo: false
#install:
#  - ./travis-scripts/install.sh

before_script:
 - pip install --user redis

#script:
#  - ./travis-scripts/script.sh

